[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
streamlit = "*"
fitdecode = "*"
streamlit-lottie = "*"
requests = "*"
watchdog = "*"
scipy = "*"
plotly = "*"

[requires]
python_version = "3.8"
